@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>网内干扰分析</title>
</head>
<body>
    <div>
        <h2>网内干扰分析</h2>
        最小经度：<input type="text" id="minLongitude" value=118.765631 /><br />
        最小纬度：<input type="text" id="minLatitude" value=32.048720 /> <br />
        最大经度：<input type="text" id="maxLongitude" value=118.781845 /><br />
        最大纬度：<input type="text" id="maxLatitude" value=32.065631 /><br /><br />
        <input type="button" id="defect" value="确定" /><br /><br />
    </div>
</body>
</html>

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script>

    $("#defect").click(function () {
        var dt = {};
        dt.minLongitude = $("#minLongitude").val();
        dt.minLatitude = $("#minLatitude").val();
        dt.maxLongitude = $("#maxLongitude").val();
        dt.maxLatitude = $("#maxLatitude").val();

        $.ajax
        ({
            url: "/api/AreaCoverDefect/PostAreaCoverDefect",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(dt),
            success: function (data, status)
            {
                if (data.ok == true)
                {
                    alert("网内干扰分析结束！\n" + data.msg);
                    window.location.href = "@Url.Action("Home", "Home")";
                }
                else
                    alert("网内干扰分析失败！" + data.msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown)
            {
                alert("网内干扰分析失败！，消息：" + textStatus + "  " + errorThrown);
            }
        });
    });


</script>
