@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>路测管理</title>
</head>
<body>
    <div>
        <h2>虚拟路测</h2>
        <input type="button" id="deleteVDT" value="删除旧路测" /><br /><br />
        <input type="button" id="addVDT" value="手动生成虚拟路测" /><br /><br />
        <h2>真实路测</h2>
        <!--input type="button" id="importDT" value="导入路测" /><br /><br />-->
        <input type="button" id="preDT" value="路测预处理" /><br /><br />
    </div>
</body>
</html>

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script>

    $("#deleteVDT").click(function () {

        $.ajax
        ({
            url: "/api/DTdata/DeleteVDT",
            type: "DELETE",
            contentType: "application/json; charset=utf-8",
            success: function (data, status) {
                if (data.ok == true) {
                    alert("路测删除成功！");
                }
                else
                    alert("路测删除失败！" + data.msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("路测删除失败！，消息：" + textStatus + "  " + errorThrown);
            }
        });
    });

    $("#addVDT").click(function () {

        $.ajax
        ({
            url: "/api/DTdata/PostAddVDT",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data, status) {
                if (data.ok == true) {
                    alert("虚拟路测添加成功！");
                }
                else
                    alert("虚拟路测添加失败！" + data.msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("虚拟路测添加失败！，消息：" + textStatus + "  " + errorThrown);
            }
        });
    });

    $("#importDT").click(function () {
        $.ajax
        ({
            url: "/api/InterferenceLocate/PostImportVDT",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data, status) {
                if (data.ok == true) {
                    alert("路测导入成功！");
                }
                else
                    alert("路测导入失败！" + data.msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("路测导入失败！，消息：" + textStatus + "  " + errorThrown);
            }
        });
    });

    $("#preDT").click(function () {

        $.ajax
        ({
            url: "/api/DTdata/PostPreDT",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data, status)
            {
                if (data.ok == true)
                {
                    alert("路测预处理结束！");
                }
                else
                    alert("路测预处理失败！" + data.msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown)
            {
                alert("路测预处理失败！，消息：" + textStatus + "  " + errorThrown);
            }
        });
    });
</script>
