@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>网格划分</title>
</head>
<body>
    <div>
        <h2>网格划分</h2>
        <h3>名称</h3>
        网格名称：<input type="text" id="name" value="zsgrid30" /> <br /><br />
        <h3>范围</h3>
        最小经度：<input type="text" id="minLongitude" value=118.724060 /><br />
        最小纬度：<input type="text" id="minLatitude" value=32.006110 /> <br />
        最大经度：<input type="text" id="maxLongitude" value=118.806605 /><br />
        最大纬度：<input type="text" id="maxLatitude" value=32.089630 /><br /><br />
        <h3>大小</h3>
        网格边长：<input type="text" id="sideLength" value=5 /><br /><br />
        <input type="button" id="grid" value="确定" /><br /><br />
    </div>
</body>
</html>

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script>

    $("#grid").click(function () {
        var grid = {};
        grid.name = $("#name").val();
        grid.minLongitude = $("#minLongitude").val();
        grid.minLatitude = $("#minLatitude").val();
        grid.maxLongitude = $("#maxLongitude").val();
        grid.maxLatitude = $("#maxLatitude").val();
        grid.sideLength = parseFloat($("#sideLength").val()).toFixed(2);

        $.ajax
        ({
            url: "/api/Grid/PostGrid",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(grid),
            success: function (data, status)
            {
                if (data.ok == true)
                {
                    alert("网格划分结束！");
                    window.location.href = "@Url.Action("Home", "Home")";
                }
                else
                    alert("网格划分失败！" + data.msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown)
            {
                alert("网格划分失败！，消息：" + textStatus + "  " + errorThrown);
            }
        });
    });


</script>
