@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>3D 栅格场强查询</title>
</head>
<body>
    <div>
        <section>
            <h2>3D 栅格场强查询</h2>
            gxid：<input type="text" id="gxid" value="1120" />
            <br /><br />
            gyid：<input type="text" id="gyid" value="1239" />
            <br /><br />
            <input type="button" id="query" value="确定" /><br />
        </section>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script>

    $("#query").click(function () {
        var grid = {};
        grid.gxid = $("#gxid").val();
        grid.gyid = $("#gyid").val();

        $.ajax
        ({
            url: "/api/Grid3DStrengthQuery/PostStrengthQuery",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(grid),
            success: function (data, status)
            {
                if (data.ok == true)
                {
                    alert(data.msg);
                    window.location.href = "@Url.Action("Home","Home")";
                }
                else
                    alert("查询失败，消息：" +  data.msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown)
            {
                alert("查询失败，消息：" + textStatus + "  " + errorThrown);
            }
        });
    });
</script>