@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>地形 TIN 图层刷新</title>
</head>
<body>
    <div>
        <h2>地形 TIN 图层刷新</h2>
        <br /><br />
        <input type="button" id="TIN" value="TIN 图层刷新" />
    </div>
</body>
</html>

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script>

    $("#TIN").click(function () {

        $.ajax
        ({
            url: "/api/RefreshLayer/PostRefreshTINLayer",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            headers: { "auth": window.localStorage.getItem("token") },
            success: function (data, status) {
                if (data.ok == true) {
                    alert("TIN 图层刷新结束！");
                }
                else
                    alert("TIN 图层刷新失败！" + data.msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("TIN 图层刷新失败！，消息：" + textStatus + "  " + errorThrown);
            }
        });
    });

</script>
