@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>区域覆盖图层刷新</title>
</head>
<body>
    <div>
        <h2>区域覆盖图层刷新</h2>
        最小经度：<input type="text" id="minLongitude" value=118.765631 /><br />
        最小纬度：<input type="text" id="minLatitude" value=32.048720 /> <br />
        最大经度：<input type="text" id="maxLongitude" value=118.781845 /><br />
        最大纬度：<input type="text" id="maxLatitude" value=32.065631 /><br /><br />
        <input type="button" id="areaGroundCover" value="地面覆盖" /><br /><br />
        <input type="button" id="area3DCover" value="立体覆盖" />
    </div>
</body>
</html>

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script>

    $("#areaGroundCover").click(function () {
        var area = {};
        area.minLongitude = $("#minLongitude").val();
        area.minLatitude = $("#minLatitude").val();
        area.maxLongitude = $("#maxLongitude").val();
        area.maxLatitude = $("#maxLatitude").val();

        $.ajax
        ({
            url: "/api/RefreshLayer/PostRefreshAreaGroundCover",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(area),
            success: function (data, status) {
                if (data.ok == true) {
                    alert("区域地面覆盖图层刷新结束！");
                }
                else
                    alert("区域地面覆盖图层刷新失败！" + data.msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("区域地面覆盖图层刷新失败！，消息：" + textStatus + "  " + errorThrown);
            }
        });
    });

    $("#area3DCover").click(function () {
        var area = {};
        area.minLongitude = $("#minLongitude").val();
        area.minLatitude = $("#minLatitude").val();
        area.maxLongitude = $("#maxLongitude").val();
        area.maxLatitude = $("#maxLatitude").val();

        $.ajax
        ({
            url: "/api/RefreshLayer/PostRefreshArea3DCover",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(area),
            success: function (data, status) {
                if (data.ok == true) {
                    alert("区域立体覆盖图层刷新结束！");
                }
                else
                    alert("区域立体覆盖图层刷新失败！" + data.msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("区域立体覆盖图层刷新失败！，消息：" + textStatus + "  " + errorThrown);
            }
        });
    });


</script>
