@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>建筑物图层刷新</title>
</head>
<body>
    <div>
        <h2>建筑物图层刷新</h2>
        <input type="button" id="building" value="确定" />
    </div>
</body>
</html>

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script>

    $("#building").click(function () {

        $.ajax
        ({
            url: "/api/RefreshLayer/PostRefreshBuildingLayer",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data, status) {
                if (data.ok == true) {
                    alert("建筑物图层刷新结束！");
                    window.location.href = "@Url.Action("Home", "Home")";
                }
                else
                    alert("建筑物图层刷新失败！" + data.msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("建筑物图层刷新失败！，消息：" + textStatus + "  " + errorThrown);
            }
        });
    });

</script>


