@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>单射线跟踪</title>
</head>
<body>
    <div>
        <h2>单射线跟踪</h2>
        小区名称：<input type="text" id="cellName" value="DQVJTX2" /><br />
        射线方位角：<input type="text" id="direction" value=83.211 /><br />
        射线下倾角：<input type="text" id="inclination" value=9.899 /><br /><br />
        <input type="button" id="rayTracing" value="确定" /><br /><br />
    </div>
</body>
</html>

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script>

    $("#rayTracing").click(function () {
        var ray = {};
        ray.cellName = $("#cellName").val();
        ray.direction = parseFloat($("#direction").val()).toFixed(2);
        ray.inclination = parseFloat($("#inclination").val()).toFixed(2);

        $.ajax
        ({
            url: "/api/SingleRayTracing/PostSingleRayTracing2",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(ray),
            success: function (data, status)
            {
                if (data.ok == true)
                {
                    alert(data.msg);
                    window.location.href = "@Url.Action("Home", "Home")";
                }
                else
                    alert("单射线跟踪失败！" + data.msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown)
            {
                alert("单射线跟踪失败！，消息：" + textStatus + "  " + errorThrown);
            }
        });
    });


</script>
